@model br.com.engsoft.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h2>Novo</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="endereco" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="telefone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
