@model br.com.engsoft.Models.Frete

@{
    ViewData["Title"] = "Create";
}

<h2>Novo</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Frete</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="peso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="peso" class="form-control" />
                <span asp-validation-for="peso" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="valor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="cliente.codigo_cliente" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="cliente.codigo_cliente" asp-items="ViewBag.Clientes"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="cidade.codigo_cidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="cidade.codigo_cidade" asp-items="ViewBag.Cidades"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
